.element2 {
  position: absolute;
  border-radius: 50%;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  -webkit-animation: rotate 3s infinite linear alternate;
  animation: rotate 3s infinite linear alternate;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateX(180deg) rotateY(-190deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
  }
}

.nn-1 {
  -webkit-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

.nn-2 {
  -webkit-transform: translateZ(2px);
  transform: translateZ(10px);
}

.nn-3 {
  -webkit-transform: translateX(10px) rotateY(15deg);
  transform: translateX(10px) rotateY(15deg);
}

.nn-4 {
  -webkit-transform: translateX(-10px) rotateY(15deg);
  transform: translateX(-10px) rotateY(15deg);
}

.nn-5 {
  -webkit-transform: translateY(10px) rotateX(15deg);
  transform: translateY(10px) rotateX(15deg);
}

.nn-6 {
  -webkit-transform: translateY(-10px) rotateX(15deg);
  transform: translateY(-10px) rotateX(15deg);
}

.nn-7 {
  -webkit-transform: translateY(5px) translateZ(-5deg) rotateX(5deg);
  transform: translateY(5px) translateZ(-5deg) rotateX(5deg);
}

.nn-8 {
  -webkit-transform: translateY(-5px) translateZ(5deg) rotateX(5deg);
  transform: translateY(-5px) translateZ(5deg) rotateX(5deg);
}

.nn-9 {
  -webkit-transform: translateY(5px) translateZ(5deg) rotateX(-5deg);
  transform: translateY(5px) translateZ(5deg) rotateX(-5deg);
}

.nn-10 {
  -webkit-transform: translateY(-5px) translateZ(-5deg) rotateX(-5deg);
  transform: translateY(-5px) translateZ(-5deg) rotateX(-5deg);
}

.nn-11 {
  -webkit-transform: translateX(5px) translateZ(-5deg) rotateY(-5deg);
  transform: translateX(5px) translateZ(-5deg) rotateY(-5deg);
}

.nn-12 {
  -webkit-transform: translateX(-5px) translateZ(5deg) rotateY(-5deg);
  transform: translateX(-5px) translateZ(5deg) rotateY(-5deg);
}

.nn-13 {
  -webkit-transform: translateX(5px) translateZ(5deg) rotateY(5deg);
  transform: translateX(5px) translateZ(5deg) rotateY(5deg);
}

.nn-14 {
  -webkit-transform: translateX(-5px) translateZ(-5deg) rotateY(5deg);
  transform: translateX(-5px) translateZ(-5deg) rotateY(5deg);
}

.nn-15 {
  -webkit-transform: translateX(-5px) translateY(5deg) rotate3d(1, 1, 0, 5deg);
  transform: translateX(-5px) translateY(5deg) rotate3d(1, 1, 0, 5deg);
}

.nn-16 {
  -webkit-transform: translateX(5px) translateY(-5deg) rotate3d(1, 1, 0, 5deg);
  transform: translateX(5px) translateY(-5deg) rotate3d(1, 1, 0, 5deg);
}

.nn-17 {
  -webkit-transform: translateX(5px) translateY(-5deg) rotate3d(-1, 1, 0, 5deg);
  transform: translateX(5px) translateY(-5deg) rotate3d(-1, 1, 0, 5deg);
}

.nn-18 {
  -webkit-transform: translateX(-5px) translateY(-5deg) rotate3d(-1, 1, 0, 5deg);
  transform: translateX(-5px) translateY(-5deg) rotate3d(-1, 1, 0, 5deg);
}
/*# sourceMappingURL=Navbar_Logo.css.map */