.logo {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  margin: 10% 2%;
  display: inline-block;
}

.element {
  position: absolute;
  border-radius: 50%;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  -webkit-animation: rotate 5s infinite linear alternate;
  animation: rotate 5s infinite linear alternate;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
  }
}

.n-1 {
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
}

.n-2 {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
}

.n-3 {
  -webkit-transform: translateX(100px) rotateY(90deg);
  transform: translateX(100px) rotateY(90deg);
}

.n-4 {
  -webkit-transform: translateX(-100px) rotateY(90deg);
  transform: translateX(-100px) rotateY(90deg);
}

.n-5 {
  -webkit-transform: translateY(100px) rotateX(90deg);
  transform: translateY(100px) rotateX(90deg);
}

.n-6 {
  -webkit-transform: translateY(-100px) rotateX(90deg);
  transform: translateY(-100px) rotateX(90deg);
}

.n-7 {
  -webkit-transform: translateY(70px) translateZ(-70deg) rotateX(45deg);
  transform: translateY(70px) translateZ(-70deg) rotateX(45deg);
}

.n-8 {
  -webkit-transform: translateY(-70px) translateZ(70deg) rotateX(45deg);
  transform: translateY(-70px) translateZ(70deg) rotateX(45deg);
}

.n-9 {
  -webkit-transform: translateY(70px) translateZ(70deg) rotateX(-45deg);
  transform: translateY(70px) translateZ(70deg) rotateX(-45deg);
}

.n-10 {
  -webkit-transform: translateY(-70px) translateZ(-70deg) rotateX(-45deg);
  transform: translateY(-70px) translateZ(-70deg) rotateX(-45deg);
}

.n-11 {
  -webkit-transform: translateX(70px) translateZ(-70deg) rotateY(-45deg);
  transform: translateX(70px) translateZ(-70deg) rotateY(-45deg);
}

.n-12 {
  -webkit-transform: translateX(-70px) translateZ(70deg) rotateY(-45deg);
  transform: translateX(-70px) translateZ(70deg) rotateY(-45deg);
}

.n-13 {
  -webkit-transform: translateX(70px) translateZ(70deg) rotateY(45deg);
  transform: translateX(70px) translateZ(70deg) rotateY(45deg);
}

.n-14 {
  -webkit-transform: translateX(-70px) translateZ(-70deg) rotateY(45deg);
  transform: translateX(-70px) translateZ(-70deg) rotateY(45deg);
}

.n-15 {
  -webkit-transform: translateX(-70px) translateY(70deg) rotate3d(1, 1, 0, 90deg);
  transform: translateX(-70px) translateY(70deg) rotate3d(1, 1, 0, 90deg);
}

.n-16 {
  -webkit-transform: translateX(70px) translateY(-70deg) rotate3d(1, 1, 0, 90deg);
  transform: translateX(70px) translateY(-70deg) rotate3d(1, 1, 0, 90deg);
}

.n-17 {
  -webkit-transform: translateX(70px) translateY(-70deg) rotate3d(-1, 1, 0, 90deg);
  transform: translateX(70px) translateY(-70deg) rotate3d(-1, 1, 0, 90deg);
}

.n-18 {
  -webkit-transform: translateX(-70px) translateY(-70deg) rotate3d(-1, 1, 0, 90deg);
  transform: translateX(-70px) translateY(-70deg) rotate3d(-1, 1, 0, 90deg);
}
/*# sourceMappingURL=Logo.css.map */