.headerContainer {
  display: flex;
  justify-content: space-between;
}

.navbar-expand {
  flex-flow: row nowrap!important;
  /* justify-content: flex-end; */
}
.App-link {
  color: #09d3ac;
}

/* .map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.justTheMap{
  z-index: -1;
  position: absolute;
}

.btn-container {
  z-index: 1000;
  position: absolute;
  margin-top: 200px;
 }
  */
.newsSection {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 700px;
}

.newsBox {
  margin: 20px;
  height: 249px;
}

.newsBoxContainer {
  display: flex;
  align-items: center;
}

.newsBoxText {
  text-align: center;
}

.peopleThatAreInSpace {
  list-style: none;
}

.newsBoxTitle {
  text-align: center;
}
.imageCarousel {
    width: 230px;
    height: 150px;
}

.containerCarousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px
}

.containerCarousel>* {
    flex: 1 1 1 1 230px;
    margin: 10px;
}

.wrapperCarousel {
    max-width: 1200px;
    margin: 0 auto;
}
